html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", "Kaushan Script", "Roboto", sans-serif;
  background-color: $main-white;
  font-size: 14px;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
