$main-white: #ffffff;
$accent-color: #fce38a;
$main-dark: #333333;
$secondary-dark: #999999;
$secondary-light: #cccccc;
$border-light: #e7e7e7;
$border-secondary: #e5e5e5;
$secondary-accent: #f38181;
$secondary-bg: #95e1d3;