/* * {
  outline: 1px solid red;
} */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", "Open Sans", sans-serif;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header {
  padding-top: 43px;
  padding-bottom: 90px;
}

.site-logo {
  display: inline-block;
  font-size: 30px;
  line-height: 32px;
  font-family: "Roboto";
  font-weight: 300;
  color: #555252;
  text-decoration: none;
  vertical-align: middle;
}

.site-logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.page-navigation {
  margin: 0;
  padding: 0;
}

.page-navigation-menu {
  margin: 0;
  padding: 10px 0 0 0;
  float: right;
  list-style: none;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
}

.page-navigation-item {
  float: right;
  margin-right: 34px;
}

.page-navigation-item:first-child {
    margin-right: 0px;
}

.nav-buttons {
  display: block;
  line-height: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0101;
}

.nav-buttons:hover,
.nav-buttons:focus {
  color: #1abc9c;
}

.header {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 32px;
  padding-top: 21px;
  color: #515151;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
}

.header::after {
  display: block;
  content: "";
  width: 164px;
  height: 7px;
  margin: 32px auto 92px auto;
  background-color: #1abc9c;
}
.products-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.products-item {
  width: 255px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.products-item:nth-child(4n) {
  margin-right: 0;
}

.products-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.products-item a {
  display: block;
}

.photo-link {
  background-color: #e9f0fd;
}

.name-price {
  background-color: #323232;
  margin: 0;
  padding: 0;
}

.product-name {
  float: left;
  width: 201px;
  margin: 0;
}

.name-link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
  font-family: "Roboto", sans-serif;
  padding-left: 14px;
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
}

.product-price {
  float: right;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding-left: 12px;
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
  width: 54px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.439);
}

.products-item:hover .name-price {
  background-color: #1abc9c;
}

.latest-news {
  margin: 0;
  padding: 0 0 45px 0;
}

.header-news {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 32px;
  padding-top: 107px;
  color: #555252;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
}

.header-news::after {
  display: block;
  content: "";
  width: 164px;
  height: 7px;
  margin: 32px auto 81px auto;
  background-color: #4ec6ab;
}

.news-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news-item {
  width: 350px;
  float: left;
  margin-right: 30px;
}

.news-item:last-child {
  margin-right: 0;
}

.news-item h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: #555252;
  padding: 8px 0 0 0;
  margin: 0;
}

.news-item h4::after {
  display: block;
  content: "";
  width: 136px;
  height: 3px;
  margin-top: 11px;
  background-color: #4ec6ab;
  margin-bottom: 26px;
}

.news-item p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #555252;
  margin: 0 0 13px 0;
}

.rmore-btn {
  display: block;
  padding: 0;
  width: 160px;
  background-color: #4ec6ab;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.rmore-btn a{
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 51px;
  font-weight: 300;
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}
